.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.labels text {
  font-size: 11px;
}


/* hide orbit fixtures */
.links line.orbit,
.labels text.orbit { display: none; }